---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Layout.astro";
import { PROJECTS_ORIGINAL_SOUNDTRACKS } from "../consts";
import { PROJECTS_INDEPENDENT_WORKS } from "../consts";
import Project from "../components/Project.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} restrictWidth={false}>
  <div>
    <section
      class="responsiveContainer flex flex-col gap-12 w-full pt-4 z-10 relative"
    >
      <div class="flex flex-col gap-4">
        <p
          class="text-4xl font-semibold font-nippo text-gray-900 text-shadow-white"
        >
          Original Soundtracks
        </p>

        <div
          class="grid grid-cols-1 sm:grid-cols-3 3xl:grid-cols-4 gap-4 sm:gap-8"
        >
          {
            [...PROJECTS_ORIGINAL_SOUNDTRACKS].map((p) => (
              <Project project={p} />
            ))
          }
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <p
          class="text-4xl font-semibold font-nippo text-gray-900 text-shadow-white"
        >
          Independent Works
        </p>

        <div
          class="grid grid-cols-1 sm:grid-cols-3 3xl:grid-cols-4 gap-4 sm:gap-8"
        >
          {[...PROJECTS_INDEPENDENT_WORKS].map((p) => <Project project={p} />)}
        </div>
      </div>
    </section>
  </div>
</Layout>
