---
import Divider from './design/Divider.astro';
import HeaderLink from './HeaderLink.astro';
import Soundcloud from "../../public/svg/soundcloud.svg"
import Spotify from "../../public/svg/spotify.svg"
import BandCamp from "../../public/svg/bandcamp.svg"
import BlueSky from "../../public/svg/bluesky.svg"
import Instagram from "../../public/svg/instagram.svg"

const color = "#a3b3ff"
---

<header>
  <nav class="w-full justify-between items-center flex text-xl py-4 animate-fade-in-first border-indigo-900 px-96 bg-black">
    <div class="flex gap-12 ">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/violin-demo-reel">Violin Demo Reel</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </div>
    
    <div class="flex gap-4">
      <a class="hover:scale-125" href="https://soundcloud.com/v1ris">
         <Soundcloud fill={color}/>
      </a>

      <a class="hover:scale-125" href="https://open.spotify.com/artist/3QAWVvdQIrW5GGXjhXT5tH">
        <Spotify fill={color}/>
      </a>

      <a class="hover:scale-125" href="https://v1ris.bandcamp.com/album/bury-yourself">
        <BandCamp fill={color}/>
      </a>

      <a class="hover:scale-125" href="https://bsky.app/profile/v1ris.com">
        <BlueSky fill={color}/>
      </a>

      <a class="hover:scale-125" href="https://www.instagram.com/v1ris_music/">
        <Instagram fill={color}/>
      </a>
    </div>
  </nav>

  <Divider/>
</header>