---
import {
  NavigationMenu,
  NavigationMenuItem,
  NavigationMenuTrigger,
} from "./ui/navigation-menu";
import {
  DropdownMenu,
  DropdownMenuTrigger,
  DropdownMenuContent,
  DropdownMenuItem,
} from "./ui/dropdown-menu";
import HeaderLink from "./HeaderLink.astro";

import Soundcloud from "../../public/svg/soundcloud.svg";
import Spotify from "../../public/svg/spotify.svg";
import BandCamp from "../../public/svg/bandcamp.svg";
import BlueSky from "../../public/svg/bluesky.svg";
import Instagram from "../../public/svg/instagram.svg";
import { NavBarDropdown } from "./NavBarDropdown";

const svgColor = "#a3b3ff";
---

<header class="flex items-center justify-center bg-black z-10">
  <div class="flex justify-between responsiveContainer w-full">
    <div class="flex items-center gap-4 lg:gap-10">
      <HeaderLink href="/">Home</HeaderLink>

      <HeaderLink href="/projects">Projects</HeaderLink>

      <NavBarDropdown client:idle />

      <HeaderLink href="/about">About</HeaderLink>

      <HeaderLink href="/contact">Contact</HeaderLink>
    </div>

    <div class="flex gap-4 items-center justify-center">
      <a
        class="hover:scale-125"
        href="https://soundcloud.com/v1ris"
        target="_blank"
        name="soundcloud"
      >
        <Soundcloud fill={svgColor} />
      </a>
      <a
        class="hover:scale-125"
        href="https://open.spotify.com/artist/3QAWVvdQIrW5GGXjhXT5tH"
        target="_blank"
        name="spotify"
      >
        <Spotify fill={svgColor} />
      </a>
      <a
        class="hover:scale-120"
        href="https://v1ris.bandcamp.com/follow_me"
        target="_blank"
        name="bandcamp"
      >
        <BandCamp fill={svgColor} width={50} height={50} />
      </a>
      <a
        class="hover:scale-125"
        href="https://bsky.app/profile/v1ris.com"
        target="_blank"
        name="bluesky"
      >
        <BlueSky fill={svgColor} />
      </a>
      <a
        class="hover:scale-125"
        href="https://www.instagram.com/v1ris_music/"
        target="_blank"
        name="instagram"
      >
        <Instagram fill={svgColor} />
      </a>
    </div>
  </div>
</header>
