---
import { NavigationMenu } from "./ui/navigation-menu";
import HeaderLink from "./HeaderLink.astro";

import Soundcloud from "../../public/svg/soundcloud.svg";
import Spotify from "../../public/svg/spotify.svg";
import BandCamp from "../../public/svg/bandcamp.svg";
import BlueSky from "../../public/svg/bluesky.svg";
import Instagram from "../../public/svg/instagram.svg";

const svgColor = "#a3b3ff";
---

<header class="flex items-center justify-center bg-black">
  <NavigationMenu>
    <div class="flex gap-4 lg:gap-10">
      <HeaderLink href="/">Home</HeaderLink>

      <HeaderLink href="/projects">Projects</HeaderLink>

      <HeaderLink href="/violin">Violin</HeaderLink>

      <HeaderLink href="/about">About</HeaderLink>

      <HeaderLink href="/contact">Contact</HeaderLink>
    </div>

    <div class="flex gap-4 items-center justify-center">
      <a
        class="hover:scale-125"
        href="https://soundcloud.com/v1ris"
        target="_blank"
        name="soundcloud"
      >
        <Soundcloud fill={svgColor} />
      </a>

      <a
        class="hover:scale-125"
        href="https://open.spotify.com/artist/3QAWVvdQIrW5GGXjhXT5tH"
        target="_blank"
        name="spotify"
      >
        <Spotify fill={svgColor} />
      </a>

      <a
        class="hover:scale-120"
        href="https://v1ris.bandcamp.com/follow_me"
        target="_blank"
        name="bandcamp"
      >
        <BandCamp fill={svgColor} width={50} height={50} />
      </a>

      <a
        class="hover:scale-125"
        href="https://bsky.app/profile/v1ris.com"
        target="_blank"
        name="bluesky"
      >
        <BlueSky fill={svgColor} />
      </a>

      <a
        class="hover:scale-125"
        href="https://www.instagram.com/v1ris_music/"
        target="_blank"
        name="instagram"
      >
        <Instagram fill={svgColor} />
      </a>
    </div>
  </NavigationMenu>
</header>
